<a href="https://colab.research.google.com/github/Vasanta2002/Sprint_1_git/blob/main/sp1_M3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sprint 1 / Module 3

In [ ]:
import pandas as pd
from datetime import datetime
df = pd.read_csv('/content/complete.csv',on_bad_lines='skip')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [ ]:
# Convert the city names to title case (capitalize each work)
df['city'] = df['city'].str.title()

# Convert the state and country abbreviations to upper case
df['state'] = df['state'].str.upper()
df['country'] = df['country'].str.upper()

# Display the correct DataFrame
display(df.head(20))

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,time
0,10/10/1949 20:30,San Marcos,TX,US,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111,20:30
1,10/10/1949 21:00,Lackland Afb,TX,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082,21:00
2,10/10/1955 17:00,Chester (Uk/England),NaN,GB,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667,17:00
3,10/10/1956 21:00,Edna,TX,US,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833,21:00
4,10/10/1960 20:00,Kaneohe,HI,US,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611,20:00
5,10/10/1961 19:00,Bristol,TN,US,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889,19:00
6,10/10/1965 21:00,Penarth (Uk/Wales),NaN,GB,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000,21:00
7,10/10/1965 23:45,Norwalk,CT,US,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333,23:45
8,10/10/1966 20:00,Pell City,AL,US,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.5861111,-86.286111,20:00
9,10/10/1966 21:00,Live Oak,FL,US,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.2947222,-82.984167,21:00
10,10/10/1968 13:00,Hawthorne,CA,US,circle,300,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.9163889,-118.351667,13:00
11,10/10/1968 19:00,Brevard,NC,US,fireball,180,3 minutes,silent red /orange mass of energy floated by t...,6/12/2008,35.2333333,-82.734444,19:00
12,10/10/1970 16:00,Bellmore,NY,US,disk,1800,30 min.,silver disc seen by family and neighbors,5/11/2000,40.6686111,-73.527500,16:00
13,10/10/1970 19:00,Manchester,KY,US,unknown,180,3 minutes,Slow moving&#44 silent craft accelerated at an...,2/14/2008,37.1536111,-83.761944,19:00
14,10/10/1971 21:00,Lexington,NC,US,oval,30,30 seconds,green oval shaped light over my local church&#...,2/14/2010,35.8238889,-80.253611,21:00
15,10/10/1972 19:00,Harlan County,KY,US,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.8430556,-83.321944,19:00
16,10/10/1972 22:30,West Bloomfield,MI,US,disk,120,2 minutes,The UFO was so close&#44 my battery in the car...,8/14/2007,42.5377778,-83.233056,22:30
17,10/10/1973 19:00,Niantic,CT,US,disk,1800,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,9/24/2003,41.3252778,-72.193611,19:00
18,10/10/1973 23:00,Bermuda Nas,NaN,NaN,light,20,20 sec.,saw fast moving blip on the radar scope thin w...,1/11/2002,32.364167,-64.678611,23:00
19,10/10/1974 17:00,Willow Beach,AZ,NaN,light,120,2 min,The object was a brillant white light standing...,2/18/2001,0,0.000000,17:00

In [ ]:
df[['date','time']] = df['datetime'].str.split(expand=True)
df['datetime'] = (pd.to_datetime(df.pop('date'), format='%d/%m/%Y') + pd.to_timedelta(df.pop('time') + ':00'))
print (df)

ValueError: ignored

#Concatenate Data

In [9]:
import pandas as pd
import numpy as np
pd.concat

<function pandas.core.reshape.concat.concat(objs: 'Iterable[NDFrame] | Mapping[Hashable, NDFrame]', axis=0, join='outer', ignore_index: 'bool' = False, keys=None, levels=None, names=None, verify_integrity: 'bool' = False, sort: 'bool' = False, copy: 'bool' = True) -> 'FrameOrSeriesUnion'>

In [10]:
# Make DataFrames
df1 = pd.DataFrame(np.random.rand(3,2),
                  columns = ['cat', 'dog'])
df2 = pd.DataFrame(np.random.rand(3,2),
                  columns = ['cat', 'dog'])

# Print out the DataFrames
print(df1); print(df2)

        cat       dog
0  0.620589  0.808890
1  0.370550  0.412995
2  0.776077  0.137939
        cat       dog
0  0.183313  0.704264
1  0.988663  0.757564
2  0.643494  0.397656

In [11]:
pd.concat([df1, df2])

        cat       dog
0  0.620589  0.808890
1  0.370550  0.412995
2  0.776077  0.137939
0  0.183313  0.704264
1  0.988663  0.757564
2  0.643494  0.397656

In [12]:
df3 = pd.DataFrame(np.random.rand(3,2),
                   columns = ['bird', 'fish'])
df3

       bird      fish
0  0.467250  0.659994
1  0.102165  0.143258
2  0.283481  0.350699

In [13]:
pd.concat([df2, df3], axis= 1)

        cat       dog      bird      fish
0  0.183313  0.704264  0.467250  0.659994
1  0.988663  0.757564  0.102165  0.143258
2  0.643494  0.397656  0.283481  0.350699

In [14]:
data4 = {'Alpaca':['A1', 'A2', 'A3'], 'Bird':['B1', 'B2', 'B3'],
        'Camel':['C1', 'C2', 'C3']} 
df4 = pd.DataFrame(data4)
print(df4)

data5 = {'Bird':['B3', 'B4', 'B5'], 'Camel':['C3', 'C4', 'C5'],
        'Duck':['D3', 'D4', 'D5']} 
df5 = pd.DataFrame(data5, index=[3,4,5])
print(df5)

  Alpaca Bird Camel
0     A1   B1    C1
1     A2   B2    C2
2     A3   B3    C3
  Bird Camel Duck
3   B3    C3   D3
4   B4    C4   D4
5   B5    C5   D5

In [15]:
# Concatenate with default join='outer'
# (sort=False is used to suppress the warning that
# future pandas will no longer sort the rows) 
print(pd.concat([df4, df5], sort=False))

  Alpaca Bird Camel Duck
0     A1   B1    C1  NaN
1     A2   B2    C2  NaN
2     A3   B3    C3  NaN
3    NaN   B3    C3   D3
4    NaN   B4    C4   D4
5    NaN   B5    C5   D5

In [16]:
# Concatenate with default join='inner'
print(pd.concat([df4, df5], join='inner'))

  Bird Camel
0   B1    C1
1   B2    C2
2   B3    C3
3   B3    C3
4   B4    C4
5   B5    C5

#Merge Data

In [1]:
# Import libraries
import pandas as pd
import numpy as np

# Display the arguments for pd.merge()
pd.merge

<function pandas.core.reshape.merge.merge(left: 'DataFrame | Series', right: 'DataFrame | Series', how: 'str' = 'inner', on: 'IndexLabel | None' = None, left_on: 'IndexLabel | None' = None, right_on: 'IndexLabel | None' = None, left_index: 'bool' = False, right_index: 'bool' = False, sort: 'bool' = False, suffixes: 'Suffixes' = ('_x', '_y'), copy: 'bool' = True, indicator: 'bool' = False, validate: 'str | None' = None) -> 'DataFrame'>

In [2]:
df1 = pd.DataFrame({'day': ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri'],
                   'weather': ['sunny', 'windy', 'rainy', 'cloudy', 'cold']})
df2 = pd.DataFrame({'day': ['Wed', 'Fri', 'Mon', 'Thurs', 'Tues'],
                   'temp': [88, 75, 62, 65, 53]})

# Display the DataFrames
display(df1)
display(df2)

     day weather
0    Mon   sunny
1   Tues   windy
2    Wed   rainy
3  Thurs  cloudy
4    Fri    cold

     day  temp
0    Wed    88
1    Fri    75
2    Mon    62
3  Thurs    65
4   Tues    53

In [3]:
# Merge them with the default values
df3 = pd.merge(df1, df2)
display(df3)

     day weather  temp
0    Mon   sunny    62
1   Tues   windy    53
2    Wed   rainy    88
3  Thurs  cloudy    65
4    Fri    cold    75

In [4]:
# Change the column name day -> day_of_week
df2_new = pd.DataFrame({'day_of_week': ['Wed', 'Fri', 'Mon', 'Thurs', 'Tues'],
                   'temp': [88, 75, 62, 65, 53]})

# Merge with left and right columns
df4 = pd.merge(df1, df2_new, left_on='day', right_on='day_of_week')
display(df4)

     day weather day_of_week  temp
0    Mon   sunny         Mon    62
1   Tues   windy        Tues    53
2    Wed   rainy         Wed    88
3  Thurs  cloudy       Thurs    65
4    Fri    cold         Fri    75

In [5]:
df5 = df4.drop('day_of_week', axis=1)
df5

     day weather  temp
0    Mon   sunny    62
1   Tues   windy    53
2    Wed   rainy    88
3  Thurs  cloudy    65
4    Fri    cold    75

In [6]:
df6 = pd.DataFrame({'name': ['Snowball', 'Bob', 'Tweetie', 'Fluffy'],
                   'type': ['cat', 'rat', 'bird', 'dog']})

df7 = pd.DataFrame({'name': ['Snowball', 'Bob'],
                   'weight': [400, 749]})

# Display before merging
display(df6); display(df7)

       name  type
0  Snowball   cat
1       Bob   rat
2   Tweetie  bird
3    Fluffy   dog

       name  weight
0  Snowball     400
1       Bob     749

In [7]:
# Merge in two different ways
df8_outer = pd.merge(df6, df7, how='outer')
df8_inner = pd.merge(df6, df7, how='inner')

# Display after merging
display(df8_outer); display(df8_inner)

       name  type  weight
0  Snowball   cat   400.0
1       Bob   rat   749.0
2   Tweetie  bird     NaN
3    Fluffy   dog     NaN

       name type  weight
0  Snowball  cat     400
1       Bob  rat     749

#Transition Between Tidy and Wide Data Formats With the Melt and Pivot Methods

In [1]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5}
                  })
display(df)

   A  B
0  a  1
1  b  3
2  c  5

In [2]:
# Melt or unpivot the B column
pd.melt(df, id_vars=['A'], value_vars=['B'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5